.input {
  width: 100%;
  height: 70px;
  border: 1px solid #b04dfe;
  box-sizing: border-box;
  border-radius: 19px;
  font-size: 2em;

  padding-left: 70px;
  color: #b04dfe;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: rgba(176, 77, 254, 0.44);
  }
}
